In [2]:
import psycopg2
import sqlalchemy
import pandas as pd

In [3]:
db_engine = sqlalchemy.create_engine('postgresql://sgqokpuggkrkve:ff59f8ca03f950cef2e98fb4ae4ff44bdf7136ff37da62215672902c613297d6@ec2-18-211-172-50.compute-1.amazonaws.com:5432/d3mhp3r7jhume9')

In [5]:
df = pd.read_sql_query("select * from generated_summaries",con=db_engine)
df

,uuid,docid,model,summary,dialogue
0,eb05015d-a601-408c-a366-9cc6a3cc6e33,test_12,GPT4,Person 1 (Steven) noticed that Person 2 (Tony)...,"#Person1#: Hi, Tony. You look unhappy. What's ..."
1,0609eabd-d37c-4a3f-8fc2-5e8017a25805,test_120,GPT4,"Person1 checks if Person2 has fed the puppies,...",#Person1#: Have you given the puppies food yet...
2,6bab1190-e00f-4fb8-b7e8-0ed51f529385,test_123,GPT4,Person1 inquires about the method to contact P...,#Person1#: How can we get in touch with you?\r...
3,fe0d36f1-a615-46cf-bb1e-8fb7120f1632,test_127,GPT4,Person1 asked Mr. Smith (Person2) about his ed...,#Person1#: Could you tell me what university y...
4,9f0c4503-457b-44b2-bbe8-1540f3c39118,test_127,GPT4,Person1 asked Mr. Smith (Person2) about his ed...,#Person1#: Could you tell me what university y...
...,...,...,...,...,...
78,8a3ddab6-5fa2-4ed4-8a04-94d0e756a850,test_364,GPT4,Person2 approached Person1 to return a book an...,#Person1#: How may I help you?\r\n#Person2#: I...
79,d591b423-2336-4c02-a9c9-268b28b7f87c,test_367,GPT4,Person1 informs Person2 that he is checking ou...,#Person1#: Do you know that I'm checking out i...
80,2de9e03d-9f0e-41cd-90b3-03c890527838,test_372,GPT4,Person1 seeks advice from Person2 about inquir...,"#Person1#: Jack, I think it's best that I acti..."
81,2c89b637-1f3c-4210-a226-7f08990a37a6,test_373,GPT4,Person1 and Person2 toured around Person2's ho...,#Person1#: We'd like to have a look around you...
82,0337d4b9-b3e1-40c5-87f2-f8805aaee699,test_376,GPT4,Person1 and Person2 discussed the possibility ...,#Person1#: Do you think our headmaster is goin...

In [16]:
df_transformer = pd.read_csv('/home/sanjana/factual_evaluation_source_based/datasets/sota_annotations/dialogue_aggrefact.csv')

In [19]:
df_transformer[~df_transformer['DocID'].isin(list(df['dialogue'].values))]

,Unnamed: 0,DocID,Dialogue,Model,Summary,w/ Error,CorefE,CorefE_text,CircE,CircE_text,...,GramE_text,PredE,PredE_text,SubjObjE,SubjObjE_text,OtherE,OtherE_text,LinkE,LinkE_text,origin
1186,36,13828456,Bailey: <file_other>\r\nBailey: ....\r\nMikael...,BART,Bailey has a lot of fabric in his closet. He k...,1,0.0,NaN,1.0,at Ikea,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1187,37,13828456,Bailey: <file_other>\r\nBailey: ....\r\nMikael...,UniLM,Bailey has a lot of fabric in his closet and h...,0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1188,38,13828456,Bailey: <file_other>\r\nBailey: ....\r\nMikael...,MV-BART,Bailey has a lot of fabric in her closet. She ...,1,0.0,NaN,1.0,at Ikea,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1189,39,13828456,Bailey: <file_other>\r\nBailey: ....\r\nMikael...,CODS,Mikaela had to buy a box of fabric at IKEA bec...,1,0.0,NaN,0.0,NaN,...,NaN,1.0,won't,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1202,52,13727579,Mum: hungry?\r\nSteve: starving...\r\nMum: I'l...,BART,Mum will wrap something up for Steve.,0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,363,13829773,"Ola: Hello Kate, sorry for not keeping in touc...",CODS,Ola and her family are travelling in Cuba. The...,1,1.0,They,0.0,NaN,...,NaN,1.0,are travelling in Cuba,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1518,368,13819472,Jenny: Are we going to that concert on Saturda...,BART,"Jenny, Jeremy and Joan are going to the concer...",0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1519,369,13819472,Jenny: Are we going to that concert on Saturda...,UniLM,"Jenny , Jeremy and Joan are going to the conce...",0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1520,370,13819472,Jenny: Are we going to that concert on Saturda...,MV-BART,"Jenny, Jeremy and Joan are going to the concer...",0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1521,371,13819472,Jenny: Are we going to that concert on Saturda...,CODS,"Jenny, Jeremy and Joan are going to a concert ...",1,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum

In [18]:
df_transformer

,Unnamed: 0,DocID,Dialogue,Model,Summary,w/ Error,CorefE,CorefE_text,CircE,CircE_text,...,GramE_text,PredE,PredE_text,SubjObjE,SubjObjE_text,OtherE,OtherE_text,LinkE,LinkE_text,origin
0,0,13809941,Thelma: i dont have anything to wear\nLouisa: ...,human_ref,Louisa will lend Thelma her red velvet dress.,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,FacEval
1,1,13809941,Thelma: i dont have anything to wear\nLouisa: ...,bart_large,Thelma doesn't have anything to wear. Louisa w...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,FacEval
2,2,13809941,Thelma: i dont have anything to wear\nLouisa: ...,mv-bart_large,Thelma doesn't have anything to wear. Louisa w...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,FacEval
3,3,13809941,Thelma: i dont have anything to wear\nLouisa: ...,co-ref bart large,Thelma doesn't have anything to wear. Louisa w...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,FacEval
4,4,13809941,Thelma: i dont have anything to wear\nLouisa: ...,condigsum bart large,Louisa will bring Thelma her red velvet dress.,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,FacEval
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,395,13864835,Tony: <photo_file>\nAmy: Sweet little cat <3\n...,CODS,Amy sends Lucas a photo of a cat.,1,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,1.0,Amy,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1546,396,13727934,"Patricia: Hey, could you give me a call in an ...",BART,George will call Patricia in an hour.,0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1547,397,13727934,"Patricia: Hey, could you give me a call in an ...",UniLM,George will call Patricia in an hour or so bec...,1,1.0,she,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1548,398,13727934,"Patricia: Hey, could you give me a call in an ...",MV-BART,Patricia wants George to call her in an hour.,0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum
1549,399,13727934,"Patricia: Hey, could you give me a call in an ...",CODS,Patricia wants George to call her in an hour. ...,0,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,RefMatters_SAMSum

In [ ]:
df_transformer = pd.read_csv('/home/sanjana/factual_evaluation_source_based/datasets/sota_annotations/dialogue_aggrefact.csv')

In [6]:
conn = psycopg2.connect(
   database="dd6goghvt02djh", 
    user='ppqbjimormsthy', 
    password='ef920ec6553ab7d225dbf61927f1c8ca28e002ce8ca6dbed67d31deb230ec7f0', 
    host='ec2-52-20-78-241.compute-1.amazonaws.com', 
    port = '5432'
    
)

OperationalError: connection to server at "ec2-52-20-78-241.compute-1.amazonaws.com" (52.20.78.241), port 5432 failed: FATAL:  role "ppqbjimormsthy" is not permitted to log in

In [3]:
cursor = conn.cursor()

sql_drop = '''DROP TABLE IF EXISTS generated_summaries;'''
cursor.execute(sql_drop)
conn.commit()

In [4]:
sql_drop = '''DROP TABLE IF EXISTS label;'''
cursor.execute(sql_drop)
conn.commit()

OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.